/<<<<<<< HEAD
form action="/login" method="post"
    input type="text" name="firstname" placeholder="Firstname"
    input type="text" name="lastname" placeholder="Lastname"
    input type="submit" value="LOG IN"
p Har inget konto? Skapa ett nu!
a href="/create" Registrera dig här!
// Här är det något som inte funkar som det ska lös onsdag!
/=======
br
<a href="/klass">klass1</a> <br>
<a href="/klass">klass2</a> <br>
<a href="/klass">klass3</a> <br>
/ >>>>>>> 1926a33ca6c8b5667dd90e71e0372394b09f4be1
